body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  background-color: MistyRose;
  padding: 15px 0;
}

header h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: rosybrown;
  width: 100%;
  margin: 0;
}

main {
  width: 70%;
  background-color: rgba(220, 220, 220, 0.1);
  display: block;
  margin: 0 auto;
}

main h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: rosybrown;
}

.posts {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.posts .posts__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.posts .post_container {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 6px 4px 1px rgba(0, 0, 0, 0.2);
}

.posts .posts__username {
  font-family: 'Slabo 27px', serif;
  max-width: 100%;
  height: auto;
  padding: 7px;
  background-color: mistyrose;
  color: rosybrown;
}

.posts .posts__title {
  font-family: 'Abel', sans-serif;
}

.posts .posts__title:before {
  content: "Title: ";
  text-transform: uppercase;
  font-weight: bold;
  color: CornflowerBlue;
}

.posts .posts__body {
  font-family: 'Abel', sans-serif;
}

.posts .posts__body:before {
  content: "Body: ";
  text-transform: uppercase;
  font-weight: bold;
  color: CornflowerBlue;
}

.posts .posts_selected, .posts .posts_other, .posts .posts_random {
  width: 100%;
  display: block;
}

.posts .posts_random .post_container {
  background-color: snow;
}

.posts .selected_posts__container, .posts .other_posts__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.posts .selected_posts__container .post_container, .posts .other_posts__container .post_container {
  flex: 0 1 calc(50% - 20px);
}

.posts .other_posts__container .post_container {
  background-color: Seashell;
}
